/cpp/build/generateWindows/VS2017/*
/cpp/build/generateWindows/VS2017_x64/*
/cpp/build/generateWindows/VS2017_static
/cpp/build/generateWindows/VS2017_shared
/cpp/build/output/*
/cpp/build/generateLinux/gccLinuxRelease/*
/cpp/build/generateLinux/gccLinuxDebug/*
/cpp/build/generateLinux/gccLinuxSharedRelease/*
/cpp/build/generateLinux/gccLinuxSharedDebug/*
/cpp/build/generateLinux/gccLinuxStaticRelease/*
/cpp/build/generateLinux/gccLinuxStaticDebug/*
/cpp/CMakeLists.txt.user

/cpp/applications/openScenarioReader/res/result.txt
/cpp/applications/openScenarioTester/v1_0/src/openScenarioAPI/*
/cpp/applications/openScenarioTester/v1_0/src/findHeaders.sh
/cpp/dirs_all.txt
/cpp/README_template.md
/cpp/RabbitVCSwithGitHub/*
/cpp/build/generateLinux*.tgz
/cpp/build/generateLinux/openSCENARIO*.tgz
/cpp/build/generateLinux/openScenario.v1_0.API/*
/cpp/build/generateLinux/openScenario.v1_0.API*.tgz
/cpp/applications/openScenarioTester/v1_0/src/findHeaders.sh
/cpp/build/generateLinux/EgoCheckerRule.h
/cpp/build/generateLinux/tinyxml2.cpp

.vscode/*
build/*
RabbitVCSwithGitHub/*
openscenario.api.test.code-workspace
/.vs
/cpp/build/generateLinux/buildArtifactsForPackage.yml
